<div class="mt-4">
    <form method="post">
        <div class="form-group">
            <label for="search-input">Key</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Type anything...">
        </div>

        <div class="form-group"></div>
            <label for="gender-input">Gender</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">-- Choose your real sex --</option>
                <option value="male">I'm a boy</option>
                <option value="female">I'm a girl</option>
                <option value="lgbt">I'm not a girl or a boy</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>